<div class="panel">
  <div class="panel-body">
    <h3 class="title-hero">{{title}}</h3>
    <div class="example-box-wrapper">
      <div class="dataTables_wrapper form-inline no-footer">
        <div class="row">
          <div class="col-sm-6">
            <div class="dataTables_length"><label>
              <select name="paginate_by" class="form-control" [(ngModel)]="pageBy" (change)="onChangeNumPerPage()">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
              </select>
            </label></div>
          </div>
          <div class="col-sm-6">
            <div class="dataTables_filter">
              <input name="filter" type="search" class="form-control" placeholder="Search..." (keyup)="updateFilter()"
                     [(ngModel)]="filterString">
            </div>
          </div>
        </div>
        <table class="table table-bordered table-striped dataTable">
          <thead>
          <tr>
            <th *ngFor="let column of columns">{{column.header}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of dataset">
            <td *ngFor="let column of columns">{{row[column.value]}}</td>
          </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-sm-6">
            <a href="#">
              <button type="button" class="btn btn-primary">Add</button>
            </a>
          </div>
          <div class="col-sm-6">
            <div class="dataTables_paginate paging_bootstrap">
              <ul class="pagination">
                <li (disabled)="!data.hasPrevious" (click)="onPageClick(this.page - 1)"><span>&laquo;</span></li>
                <li *ngFor="let pageNum of pageArray" [ngClass]="{'active': pageNum==this.page}"
                    (click)="onPageClick(pageNum)"><a>{{pageNum}}</a></li>
                <li (disabled)="!data.hasNext" (click)="onPageClick(this.page + 1)"><span>&raquo;</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
