<dataTable [endPoint]="endpoint" [title]="'Charges'" [filterField]="'title'">
  <app-column [header]="'Title'" [value]="'title'"></app-column>
  <app-column [header]="'Description'" [value]="'description'"></app-column>
</dataTable>
